/*Define como vai se comportorar todo o conteudo principal*/
.main{
    background-color: #f9db79;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}


/*Define os estilos para a área da capa, usando uma imagem como background
 para poder ser sobreposta por um titulo. Também foi aplicado o flexbox para ajustar
 o alinhamento dos elementos*/
.container_capa{
    height: 100vh;
    margin: auto ;

    background-image: url('@/../../../public/banner-home.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

/*Define a cor do texto do titulo, o tamanho da fonte e a sombra no texto*/
.container_capa h1{
    color: #fff;
    font-size: 100px;
    text-shadow: 3px 5px 2px #000;
}

/*Definição de estilos para a área de informações*/

.container_info{
    background-color: #fff;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card_info{
    width: 50%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.card_info_imagem{
    width: 100%;
    height: 100%;
    
}

.card_info h2{
    font-size: 22px;
}

.card_info h4{
    font-weight: 600;
    font-style: italic;
}

.card_info p{
    width: 95%;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
}



/*Telas até 768px*/
@media(max-width: 768px){

    .container_capa h1{
        font-size: 56px;
    }

    .container_info{
        flex-direction: column;
    }

    .card_info{
        width: 100%;
        height: 400px;
    }

    .card_info p{
        max-width: 80%;
    }

    .card_info:nth-child(3){
        order: 4;
    }

    .card_info:nth-child(4){
        order: 3;
    }
}


/*Telas até 375px*/

@media(max-width: 375px){
    
    .container_capa h1{
        font-size: 36px;
    }

}